node_modules
dist

# vue-tsc 勿将编译产物写入 src
src/**/*.js
src/**/*.js.map
Thumbs.db
.DS_Store
.vscode
.idea
.project
.settings
.history
yarn-error.log

*.log
*.diff
*.patch
.svn
*.swp
*.swo
*.json.gzip
*.txt
doc
